video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 830px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    object-fit: contain;
    overflow-x: hidden;
    position: relative;
}

.hero-container #avatar {
    width: 200px;
    height: 100%;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.hero-container h1 {
    color: #fff;
    font-size: 90px;
    text-align: center;
    margin: 20px;
    word-wrap: normal;
}

.hero-container p {
    margin: 8px 10vw;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    word-wrap: normal;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

.social-icons {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

.social-icon-link {
    height: 60px;
    color: white;
    font-size: 50px;
    line-height: 120%;
    transition: 0.3s;
}

.social-icon-link:hover {
    transform: scale(1.2) translateY(-5px);
}


@media screen and (max-width: 960px) {
    .hero-container > #avatar {
        width: 200px;
        height: auto;
        margin-top: -50px;
    }

    .hero-container > h1 {
        font-size: 70px;
    }

    .hero-container > p {
        font-size: 28px;
        margin: 8px 50px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    .hero-container > p {
        font-size: 24px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .hero-container > p {
        margin: 8px 20px;
    }

    .social-icons {
        width: 250px
    }
}