#music-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    object-fit: contain;
}

#music-container h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin: 120px 20px 30px;
}

#music-container p {
    margin: 8px 8vw;
    color: #fff;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}

#music-container p a:link {
    color: #598df3;

}

#music-container p a:visited {
    color: #9545d6;
}

@media screen and (max-width: 1000px) {
    #music-container h1 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 800px) {

    #music-container h1 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px) {
    #music-container > h1 {
        font-size: 48px;
    }

    #music-container p {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    #music-container > h1 {
        font-size: 36px;
    }

    #music-container p {
        font-size: 16px;
    }
}