#music-slider-container {
  width: 70vw;
  height: 100vh;
}

.swiper-slide {
  background-color: rgba(150, 150, 150, 0.3);
  text-align: center;
  font-size: 18px;
  border-radius: 1%;
  padding-bottom: 6px;
  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide iframe {
  width: 99%;
  height: 99%;
}

@media screen and (max-width: 1000px) {
  #music-slider-container {
    width: 80vw;
  }
}

@media screen and (max-width: 800px) {
  #music-slider-container {
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  #music-slider-container {
    height: 120vw;
  }
}

/* @media screen and (min-width: 1500px) {
  #music-slider-container {
    width: 60vw;
  }
}

@media screen and (min-width: 2000px) {
  .icon-item {
    width: 200px;
  }
} */
